
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


ul {
    display: flex;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}

a:hover {
    text-decoration: underline;
}

.NavBarMain {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 100px;
    align-items: center;
    color: #F9FAF8;
}


.NavBarLinks {
    display: flex;
    padding-right: 48px;
}

.NavBarLogo {
    display: flex;
    justify-content: flex-start;
    padding-left:48px;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 48px;
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: #F9FAF8;

    
}

img {
    display: flex;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
}

.hero-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 5px;
}




.hero-paragraph {
    display: flex;
    align-items: center;
}