
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


ul {
    display: flex;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}

a:hover {
    text-decoration: underline;
}

.NavBarMain {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 100px;
    align-items: center;
    color: #F9FAF8;
    
}


.NavBarLinks {
    display: flex;
    padding-right: 48px;
    font-size: 18px;
}

.NavBarLogo {
    display: flex;
    justify-content: flex-start;
    padding-left:48px;
    font-size: 24px;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 48px;
    justify-content: center;
    align-content: center;
    gap: 50px;
    flex-wrap: wrap-reverse;
    background-color: #1F2937;
    

    
}

img {
    display: flex;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.hero-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
}

.hero-button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.hero-button button {
    padding: 10px 30px;
    background-color: #3882f6;
    border: none;
    color: #F9FAF8;
    border-radius: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #2d6cd1;
}

h1 {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-paragraph {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.information {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #1F2937;
}

.info-boxes {
    margin-left: 48px;
    margin-right: 48px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info-boxes img{
    width: 200px;
    border-radius: 10px;
}

.info-boxes p{
    display: flex;
    text-align: center;
    max-width: 200px;
    margin-top: 5px;
    margin-bottom: 48px;
}

blockquote {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 48px;
    justify-content: center;
    padding-left: 110px;
    padding-right: 110px;
    text-align: center;

}
 .Testimonial {
    background-color: #E5E7EB;
 }

 .Testimonial p {
    display: flex;
    padding-right: 200px;
    justify-content:right;
    align-self: flex-start;
    margin-top: -25px;
    font-size: 24px;
    font-weight: bold;
 }

 /* Call to Action */

 .C2A {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-color: none;
    justify-content: space-between;
 }

.C2A-item {
    flex: 1 
}   

.c2atext {
    text-align: left;
    flex-shrink: inherit;
}

.c2atext p {
    color: #fff;
    opacity: 0.7;  
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.c2abutton button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}


.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
    text-align: center;
}